@font-face {
  font-family: gess;
  src: url(../../font/ArbFONTS-GESS.ttf);
}

body {
    margin: 0%;
    background-color: #f1f1f1;
    text-align: right;
}

.main_style {
    font-family: gess;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    padding: 5%;
}

.contect_us_title {
    /* background-image: linear-gradient(rgb(255, 143, 143), rgb(255, 0, 0)); */
    background-color: #dc3545;
    color:white;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    margin-top: 3%;
}

.text_in_page {
    margin-top: 3%;
    margin-right: 8%;
    line-height: 30px;
    padding-bottom: 2%;
}

a {
    color: white;
    font-family: tahoma;
}

a:hover {
    color: black;
    text-decoration:solid;
}

.telegram_div {
    background-color: rgb(78, 136, 221);
    border-radius:  10px;
    margin-left: 10%;
    column-gap: 1%;
    padding: 1%;
}

.facebook_div {
    border-radius:  10px;
    margin-left: 10%;
    background-color: rgb(21, 89, 192);
    padding: 1%;
}

.video_div {
    margin-top: 5%;
}